
    <footer class="text-center text-white" style="background-color: #f37735">

      <hr class="my-1" />
        <!-- Section: Text -->
        <section class="mb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <p>
                Shop with confidence and enjoy a unique shopping experience!
              </p>
              <p>
                Please let us know if you encounter any issues.
              </p>
            </div>
          </div>
        </section>
        <!-- Section: Text -->
  
        <!-- Section: Social -->
        <section class="text-center mb-5">
          <a href="https://www.facebook.com/profile.php?id=61555257977942" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/mera____asaad/" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/marwa-asaad-677a09264?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/marwaas3d" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </section>
        <!-- Section: Social -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-white" href="mailto:marwaas3d@gmail.com"
           >Marwa Asaad</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  <!-- End of .container -->