<section class="container shadow">

    <div class="row">
      <h1 class='text-white'>Wishlist<i class="fa-solid fa-heart wish"></i></h1>


        <div class="col-s-1 col-md-4 col-lg-3 d-flex justify-content-center align-items-center"  *ngFor="let item of data" >

          <div class="card  d-flex justify-content-center align-items-center" >
            <img [src]="item.imageCover" class="card-img-top img-cover" [alt]="item.slug">

            <div class="card-body">
              <p class="card-text">{{item.title}}</p>

              <h4 class="card-text">{{item.price}} LE</h4>

              <a class="heart" (click)="removeItem(item.id)">
                <i class="fa-solid fa-heart"></i>
              </a>


            </div>
          </div>


          </div>
    </div>
</section>

<div class='remove-container'>
  <div class='remove' *ngIf="isremoved">
    <p class='text-white'>{{removeMsg}}</p>
  </div>
</div>